*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #09265c;
    color: #fff;
}

header h1{
    font-size: 2rem;
}

header nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

header nav a{
    color: #fff;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

main{
    padding: 4rem 4rem;
    background-image: linear-gradient(to right, #1781fa, #194088);
    color: #fff;
}

section{
    margin-bottom: 2rem; 
}

section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

section button{
    padding: 0.5rem 1rem;
    background-color: #ffff;
    color: #1f93ff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

footer{
    padding: 1rem;
    background-color: #09265c;
    color: #fff;
    text-align: center;
}

footer p{
    font-size: 0.8rem;
}

#servicos{
    padding: 2rem;
    background-color: #fff;
    color: #0f172a;
    border-radius: 8px;
}

.titulo-servicos{
    color: #0f172a;
    margin-bottom: 1rem;
}

.tabela-servicos{
    width: 100%;
    border-collapse: collapse;
}

.tabela-servicos th{
    background-color: #0f172a;
    color: #fff;
    padding: 12px;
    text-align: left;
}

.tabela-servicos td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
